head
    link(rel="stylesheet", href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css")
    script(src="http://d3js.org/d3.v3.min.js", charset="utf-8")
    script(src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js")
body
    div(class="container")
        form(action="POST", role="form")
            div(class="btn-toolbar", role="toolbar", aria-label="ticker-settings")
                div(class="btn-group", data-toggle="buttons", role="group", aria-label="time-period")
                    label(class="btn btn-primary active time") 1D
                        input(class="time", type="radio", name="options", id="option", value="day", autocomplete="off", checked) 
                    label(class="btn btn-primary disabled time") 1W
                        input(class="time", type="radio", name="options", id="option", value="week", autocomplete="off") 
                    label(class="btn btn-primary disabled time") 1M
                        input(class="time", type="radio", name="options", id="option", value="month", autocomplete="off") 
                    label(class="btn btn-primary disabled time") 1Y
                        input(class="time", type="radio", name="options", id="option", value="year", autocomplete="off") 
                div(class="btn-group", data-toggle="buttons", role="group", aria-label="currency")
                    label(class="btn btn-primary active") USD
                        input(class="currency", type="radio", name="options", id="option", value="USD", autocomplete="off", checked) 
                    label(class="btn btn-primary") CAD
                        input(class="currency", type="radio", name="options", id="option", value="CAD", autocomplete="off") 
                    label(class="btn btn-primary") EUR
                        input(class="currency", type="radio", name="options", id="option", value="EUR", autocomplete="off") 
                    label(class="btn btn-primary") GBP
                        input(class="currency", type="radio", name="options", id="option", value="GBP", autocomplete="off") 
                svg(id="visualisation", width="1000", height="500")
script(type='text/javascript').
    var time_price_pairs =!{JSON.stringify(timePrices)};
    var exchange_rates_obj = !{JSON.stringify(rates)};
    console.log(exchange_rates_obj);
    var rates = exchange_rates_obj['rates'];
    rates['USD'] = 1.0; //initialize USD value;
    console.log(rates);
script(src="market-price.js")